resource_group_name = "{{ azure.storage_resource_group_name }}"
resource_group_location = "{{ azure.resource_group_location }}"
storage_account_name = "{{ azure.storage_account_name }}"
subscription_id = "{{ azure.subscription_id }}"
client_id = "{{ azure.client_id }}"
client_secret = "{{ azure.client_secret }}"
tenant_id = "{{ azure.tenant_id }}"

