{
  "type": "service_account",
  "project_id": "{{gcp.project_id}}",
  "private_key_id": "{{gcp.private_key_id}}",
  "private_key": "{{gcp.private_key}}",
  "client_email": "{{ gcp.client_email }}",
  "client_id": "{{gcp.client_id}}",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/{{ gcp.client_email | replace('@', '%40')}}"
}